@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width:640px) {
    .image{
        top:8rem;
        left:1rem;
    }
    .card{
        margin-top: 5rem;
    }
    .test{
        margin-bottom: 4rem;
    }
}
